.contactBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
  width: 100vw;
  height: 100vh;
  transform: translateY(100vh);
  background: white;
  background: linear-gradient(  #476097, transparent, white, white, white, white, transparent);
  transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);
}

#contactBoxHeader {
  margin: 4rem 0;
}

#contactBoxHeader h2 {
  font-weight: 800;
  font-size: 2rem;
}

#inputsBox {
  display: flex;
  flex-direction: column;
  width: 30%;
}

input {
  background-color: #d1d1ab;
  border: 0.2rem solid #3d441e;
  font-family: "Quicksand";
  width: 20vw;
  font-size: 1.5rem;
  padding: 1rem;
  transition: 1s;
}

#nameInput {
  transform: translateX(100vw);
}
#emailInput {
  transform: translateX(-100vw);
}
#phoneInput {
  transform: translateX(100vw);
}

.myContactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(100vh);
  transition: 1s cubic-bezier(0.4, 0, 0.4, 1);
}

.myContactInfo h2 {
  font-weight: 900;
  font-size: 2rem;
}

.myEmail {
  margin: auto auto;
}
