
.projectsPanel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    margin-left: 18vw;
    width: 65vw;
    height: 80vh;
    /* transform: translateY(100vh); */
    background: rgb(122, 117, 117);
    transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);
}

.projectBox {
    position: absolute;
    width: 50%;
    height: 50%;
}

.first {
    top: 0;
    left: 0;
    background: green;
    transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);

    
}
.second {
    top: 0;
    left: 50%;
    background: blue;
    transition: 1.75s cubic-bezier(0.4, 0, 0.4, 1);

}
.third {
    top: 50%;
    left: 0;
    background: gray;
    transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);

}
.fourth {
    top: 50%;
    left: 50%;
    background: gainsboro;
    transition: 1.75s cubic-bezier(0.4, 0, 0.4, 1);

}

