.projectsPanel {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7vh;
  margin-left: 10vw;
  width: 80vw;
  height: 80vh;
  /* transform: translateY(100vh); */
  background: transparent;
  transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);
}

.projectBox {
  position: absolute;
  width: 50%;
  height: 50%;
}

.first {
  top: 0;
  left: 0;
  background-image: url("/assets/skyPondShot.jpg");
  background-size: cover;
  transition: 1.2s cubic-bezier(0.4, 0, 0.4, 1);
}

.first .innerProjectHeader {
  top: 15%;
  left: 10%;
}
.second {
  top: 0;
  left: 50%;
  background-image: url("/assets/colonialCurrencyShot.jpg");
  background-size: cover;
  transition: 1.5s cubic-bezier(0.4, 0, 0.4, 1);
}
.third {
  top: 50%;
  left: 0;
  background: gray;
  transition: 1.2s cubic-bezier(0.4, 0, 0.4, 1);
}
.fourth {
  top: 50%;
  left: 50%;
  background: gainsboro;
  transition: 1.5s cubic-bezier(0.4, 0, 0.4, 1);
}

.innerProjectHeader {
  color: gold;
  font-weight: 900;
  font-size: 2.1rem;
  position: absolute;
  top: 60%;
  left: 5%;
}

.projectModal {
  position: absolute;
  flex-direction: column;
  background: white;
  background: linear-gradient(to Left, white, #5a3939);
  width: 80vw;
  height: 100vh;
  transform: translateX(80vw);
  top: 10vh;
  right: 0;
  transition: 0.75s cubic-bezier(0.4, 0, 0.4, 1);
}

.projectModal.opened {
  background: linear-gradient(to Left, white, #565655);
  transition: 1.75s cubic-bezier(0.4, 0, 0.4, 1);
}

.xOut {
  padding: 1rem;
  cursor: pointer;
}

.innerModalDiv {
  display: grid;
  grid-template-columns: 2fr 3fr;
  background: green;
  margin-left: 5%;
  height: 75%;
  width: 90%;
}

.descriptionDiv {
  background-color: blue;
}

.slideDiv {
  background: pink;
  position: relative;
}

.carouselButtons {
  position: relative;
  top: 50%;
  cursor: pointer;
}

.arrow-left {
  top: 20%;
  left: -93%;
  background-color: white;
  border-bottom: 3rem solid transparent;
  border-top: 3rem solid transparent;
  border-right: 1.5rem solid #ccc;
  display: none;
}

.arrow-right {
  right: -93%;
  background-color: white;
  border-bottom: 3rem solid transparent;
  border-left: 1.5rem solid #ccc;
  border-top: 3rem solid transparent;
}
