html {
    /*font-family: 'calibre-Bold', sans-serif;*/
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.3em;
    font-weight: 800;

}

.mainTitle {
font-weight: 900;
margin-bottom: 0;
}


body {
  height: 100vh;
  width: 100vw;
  background: #cbd1d2;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  top: 0;
  background: #565655;
  position: fixed;
  transform: translateY(-10vh);
  z-index: 1;
  box-shadow: 1px 1px lightgray;
  transition: cubic-bezier(0.4, 0, 0.58, 1) .75s;
}

.titleDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

.outerNavDiv {
  position: absolute;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerNavDiv:hover {
  cursor: pointer;
}

.bars {
  display: inline-block;
  padding: 0 20px;
  width: 58px;
  height: 40px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.bar {
  display: block;
  position: absolute;
  width: 34px;
  height: 5px;
  background-color: #5a1616;
  transition: cubic-bezier(0.3, 0, 0.5, 1) 0.25s;
}


#Bigwheel {
  position: absolute;
  margin-left: 5rem;
  bottom: 5vh;
  transform: rotate(1deg);
}

#Smallwheel {
  position: absolute;
  bottom: 5vh;
  margin-bottom: 1rem;

}

#PennyFrame {
  position: absolute;
  left: -1rem;
  bottom: 9vh;
  margin-bottom: 1rem;
}
