html {
    /*font-family: 'calibre-Bold', sans-serif;*/
    font-family: 'Calibre-Bold', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    letter-spacing: 0.3em;

}


body {
  height: 100vh;
  width: 100vw;
  background: #cbd1d2;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
  top: 0;
  background: #565655;
  position: fixed;
  transform: translateY(-10vh);
  z-index: 1;
  box-shadow: 1px 1px lightgray;
  transition: cubic-bezier(0.4, 0, 0.58, 1) .75s;
}

.outerNavDiv {
  position: absolute;
  left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outerNavDiv:hover {
  cursor: pointer;
}

.bars {
  display: inline-block;
  padding: 0 20px;
  width: 58px;
  height: 40px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.bar {
  display: block;
  position: absolute;
  width: 34px;
  height: 5px;
  background-color: #5a1616;
  transition: cubic-bezier(0.3, 0, 0.5, 1) 0.25s;
}

.sideBar {
  position: relative;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background: white;
  background: linear-gradient(to Right, white, #565655);
  width: 22vw;
  height: 100vh;
  transform: translateX(-25vw);
  transition: .75s cubic-bezier(0.4, 0, 0.4, 1);
}

.sideBar.closed {
  background: linear-gradient(to Right, white, #5a3939);
  transition: 1s;
}

.sideBarItem {
  margin-left: 5vw;
  margin-right: 0;
  color: black;
  font-weight: 900;
  font-size: 1.8rem;
}

.sideBarItem:hover {
    color:gold;

}

.sideBarItem.bigAndGlowing {
  color: gold;
  font-size: 2rem;
  transition: 0.2s;
}

.hiddenSideDiv {
    position: absolute;
    z-index: -1;
    transform: translateX(-20vw);
    top: 10vh;
    background: white;
    width: 20vw;
    height: 100vh;
    transition: 1s cubic-bezier(0.4, 0, 0.4, 1);
}

